.wrapper{
    display: grid;
    grid-template-columns: 1fr;

    .grid-header{
        height: 15vh;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;

        .logo{
            margin: 0;
            width: 20%;
            height: 100%;
         }
        .navegacao{
            width: 65%;
        }
    }

    .grid-main{
        height: 90vh;
    }
}